<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
        <form method="post" action="/listings/<%= selectedList.id %>?_method=PATCH" novalidate class="needs-validation">

            <h1>Update the list</h1>
            <div class="mb-4 ">
                <label for="title" class="form-label">Title</label>
                <input type:="text" name="title" class="form-control" value="<%= selectedList.title %>" required>
                <div class="valid-feedback">Title look good!!</div>

            </div>
           
            
            
            <div class="mb-4">
                <label for="description" class="form-label">Description:</label>
                <textarea type="textarea"  class="form-control" name="description"
                required><%= selectedList.description %></textarea>

                <div class="invalid-feedback">write a short description</div>
            </div>
           
            
            
            <div class="mb-4">
                <label for="img" class="form-label">Image</label>
                <input type="text" class="form-control" name="img" value="<%= selectedList.img %>" required >

                <div class="invalid-feedback">Dont leave blank for image URL</div>
            </div>
           
            
            <div class="row">
                <div class="mb-4 col-md-4">
                    <label for="price" class="form-label">Price:</label>
            
                    <input name="price" class="form-control" type="number" value="<%= selectedList.price %>" required>

                    <div class="invalid-feedback">Enter the correct price!!!</div>
    
                    </div>
                    
                    
                    
                    <div class="mb-4 col-md-8">
                        <label for="country" class="form-label">Country</label>
            
                        <input name="country" class="form-control" type="text" value="<%= selectedList.country %>"
                        required>
                        <div class="invalid-feedback">Please enter correct country</div>
    

                    </div>
            </div>
            
           
            
            
            <div class="mb-4">
                <label for="location" class="form-label">Location:</label>
    
                <input name="location" class="form-control" type="text" value="<%= selectedList.location %>" required>

                <div class="invalid-feedback">Please enter correct location</div>
    
            </div>
    
            
            
            <button class="btn btn-dark add-btn  mt-3">Update</button>
        </form>
        
    </div>
</div>
        

